@import "tailwindcss";

.navigation {
  display: flex;
  justify-content: space-around;
  & a {
    text-decoration-style: double;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

input, select {
  border: 0.2rem solid black
}